/* 컨텐츠 위 / 아래 공통 */
[class*="Area"]{padding-block: 80px;}


/* 서브 타이틀 */
.subTitle01{font-size: 36px; line-height: 43px;}
.subTitle02{font-size: 28px; line-height: 33px;}


body:has(header > div nav.active){overflow: hidden;}

/* 해더 */
header > div{padding-inline: 5px 10px; height: var(--headerHeight); justify-content: space-between;}
header > div h1{width: 108px;}
header > div > *:not(h1){line-height: 24px;}
header > div nav{display: none; position: fixed; right: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
header > div nav.active{display: block;}
header > div nav ul{padding-block: 150px; height: 100%; margin-left: auto; color: white; background-color: var(--color-red);}
header > div nav ul li:not(:last-child){margin-bottom: 30px;}
header > div nav ul li a{padding-inline: 30px;}
header > div nav ul li a svg{stroke: white;}
header > div button{width: 44px; aspect-ratio: 1; background: url(../images/icon-menu.png) no-repeat center top calc(100% * var(--styleIdx)) / 100%; text-indent: -9999px;}
header > div nav button{--styleIdx: 1; position: absolute; right: 5px; top: 7px;}
header > div > button{--styleIdx: 0;}



/* 푸터 */
footer{padding-block: 60px 100px; text-align: center; background-color: black;}
footer strong{font-size: 18px; line-height: 21px; margin-bottom: 30px; font-weight: 700; color: white; display: block;}
footer address{max-width: 630px; row-gap: 10px; display: flex; justify-content: center; flex-wrap: wrap; margin-inline: auto;}
footer address dl{font-size: 15px; line-height: 18px; font-weight: 400; color: white; display: flex; align-items: center;}
footer address dl:is(:nth-child(1), :nth-child(3), :nth-child(4), :nth-child(6)){padding-right: 10px; margin-right: 10px; position: relative;}
footer address dl:is(:nth-child(1), :nth-child(3), :nth-child(4), :nth-child(6)):after{content: ''; position: absolute; right: 0; top: 50%; transform: translate(0%, -50%); width: 1px; height: 14px; background-color: rgba(255, 255, 255, 0.3);}
footer address dl dt::after{content: ':'; padding-inline: 0.4em;}
footer p{font-size: 13px; line-height: 16px; margin-top: 40px; font-weight: 400; color: var(--color-font03);}