
/* 포인트 색상 */
mark.color-red{color: var(--color-red);}
mark.color-green{color: var(--color-green);}


/* svg 공통 */
svg{fill: none;}


/* 컨텐츠 사이즈 */
.contentSize{max-width: var(--contentSize); margin-inline: auto;}
.contentSize-padding{padding-inline: calc((100vw - var(--contentSize)) / 2);}

/* 서브 타이틀 */
[class*="subTitle"]{font-weight: 700;}
.subTitle01{font-size: 60px; line-height: 72px}
.subTitle02{font-size: 50px; line-height: 60px;}


/* 컨텐츠 위 / 아래 공통 */
[class*="Area"]{padding-block: 160px;}


span.underLine{position: relative;}
span.underLine::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 20px; background-color: var(--color-yellow01); z-index: -1;}


/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; z-index: 100;}
header.active{background-color: rgba(255, 255, 255, 0.8);}
header > div{max-width: 1920px; padding-inline: 40px; margin-inline: auto; box-sizing: border-box; display: flex; align-items: center;}
header > div h1{width: 177px;}
header > div h1 a img{width: 100%;}
header > div > *:not(h1){font-size: 20px; line-height: var(--headerHeight); font-weight: 700;}
header > div nav{margin-left: auto;}
header > div nav ul{display: flex; align-items: center; gap: 60px;}
header > div button{margin-left: 60px; display: flex; align-items: center;}
header > div button svg{width: 24px; margin-right: 7px; aspect-ratio: 1;}