/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide{height: 740px; background: url(../images/main-mainSlideBG.png) center;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"]{display: flex; flex-direction: column; justify-content: center; align-items: center; font-weight: 700; text-align: center;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] mark{font-size: 40px; line-height: 48px; margin-bottom: 30px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p{font-size: 80px; line-height: 95px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg{height: 120px; transform: translateY(-10px); vertical-align: middle;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.big{width: 120px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.small{width: 100px;}
.mainPage .mainSlide .swiper-pagination{bottom: 60px;}
.mainPage .mainSlide .swiper-pagination .swiper-pagination-bullet{width: 14px; height: 14px; margin: 0 10px;}
.mainPage .mainSlide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: black;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea h2{margin-bottom: 120px; text-align: center;}
.mainPage .siteArea ul li{display: flex; justify-content: space-between; align-items: center;}
.mainPage .siteArea ul li::before, 
.mainPage .siteArea ul li::after{width: 50%; aspect-ratio: 540 / 380; background: url(../images/main-site.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .siteArea ul li:nth-child(2n)::before{content: '';}
.mainPage .siteArea ul li:nth-child(2n + 1)::after{content: '';}
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 120px;}
.mainPage .siteArea ul li div{width: 42.5925%;}
.mainPage .siteArea ul li div strong{margin-bottom: 30px; display: block;}
.mainPage .siteArea ul li div p{font-size: 22px; line-height: 30px; font-weight: 400; color: var(--color-font03);}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull{text-align: center; color: var(--color-font01); background-color: #FFF1DB; position: relative; overflow: hidden;}
.mainPage .successFull strong{font-size: 30px; line-height: 36px; margin-bottom: 30px; font-weight: 700; display: block;}
.mainPage .successFull h2{margin-bottom: 40px;}
.mainPage .successFull b{font-size: 24px; line-height: 29px; margin-bottom: 10px; font-weight: 700; display: block;}
.mainPage .successFull p{font-size: 18px; line-height: 21px; font-weight: 400;}
.mainPage .successFull ul{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2;}
.mainPage .successFull ul li{position: absolute; transform: translate(-50%, -50%); aspect-ratio: 1; background: url(../images/main-success.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%; transition-property: left, top; transition-duration: 1.8s; transition-timing-function: cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.mainPage .successFull ul li:nth-child(1){width: 260px; left: -190px; top: -150px; z-index: 6;}
.mainPage .successFull ul li:nth-child(2){width: 260px; left: 95px; top: -220px; z-index: 5;}
.mainPage .successFull ul li:nth-child(3){width: 320px; left: -220px; top: 55px; z-index: 4;}
.mainPage .successFull ul li:nth-child(4){width: 380px; left: -10px; top: 190px; z-index: 2;}
.mainPage .successFull ul li:nth-child(5){width: 400px; left: 225px; top: 145px; z-index: 3;}
.mainPage .successFull.active ul li:nth-child(1){left: -515px; top: -135px;}
.mainPage .successFull.active ul li:nth-child(2){left: 625px; top: -150px;}
.mainPage .successFull.active ul li:nth-child(3){left: -630px; top: 275px;}
.mainPage .successFull.active ul li:nth-child(4){left: -125px; top: 470px;}
.mainPage .successFull.active ul li:nth-child(5){left:  555px; top: 280px;}

/* 메인 페이지 - 마케팅 서비스 안내 */
.serviceScroll{height: 300vh; --color: white; color: var(--color); position: relative; transition: background-color 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.serviceScroll:has( > div ol li:nth-child(1).active + :not(.active)){background-color: var(--color-green);}
.serviceScroll:has( > div ol li:nth-child(2).active + :not(.active)){background-color: #081337;}
.serviceScroll:has( > div ol li:nth-child(3).active + :not(.active)){background-color: var(--color-yellow02); --color: var(--color-font01);}
.serviceScroll:has( > div ol li:nth-child(4).active){background-color: var(--color-red);}
.serviceScroll > div{position: sticky; top: 0; height: var(--fullHeight); padding-top: calc(var(--headerHeight) + 120px); box-sizing: border-box; z-index: 1; pointer-events: none;}
.serviceScroll > div > *{pointer-events: all;}
.serviceScroll > div ol{display: flex; gap: 20px;}
.serviceScroll > div ol li{width: 14px; aspect-ratio: 1; opacity: 0.2; background-color: var(--color); border-radius: 100%; text-indent: -9999px;}
.serviceScroll > div ol li.active{opacity: 1;}
.serviceScroll > div ol li.active:has( + .active){opacity: 0.2;}
.serviceScroll > div h2{font-size: 30px; line-height: 36px; margin-top: 30px; font-weight: 700; color: var(--color);}
.serviceScroll ul{position: sticky; top: var(--fullHeight); left: 0; width: 100%; box-sizing: border-box; transform: translateY(calc(var(--fullHeight) * -1));}
.serviceScroll ul li{height: var(--fullHeight); display: flex; align-items: center;}
.serviceScroll ul li{position: absolute; top: 0; left: 0; width: 100%; }
.serviceScroll ul li > div{width: 100%; display: flex;}
.serviceScroll ul li > div::after{content: ''; width: 57.408%; aspect-ratio: 1; background: url(../images/main-service.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.serviceScroll ul li > div div{width: 42.593%; padding-top: 240px;}
.serviceScroll ul li > div div h3{margin-bottom: 30px;}
.serviceScroll ul li > div div p{font-size: 24px; line-height: 32px; margin-bottom: 80px; font-weight: 400;}
.serviceScroll ul li > div div a{font-size: 24px; line-height: 29px; text-decoration: underline;}
/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */
.serviceScroll ul li{transition: opacity 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.serviceScroll ul li > div::after{transition: transform 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.serviceScroll ul li:not(:first-child){position: absolute; top: 0; opacity: 0; pointer-events: none;}
.serviceScroll ul li:not(:first-child) > div::after{transform: translateY(100%);}
.serviceScroll ul li:not(:first-child).active{opacity: 1;}
.serviceScroll ul li:not(:first-child).active > div::after{transform: translateY(0%);}
.serviceScroll ul li.active{pointer-events: all;}
.serviceScroll ul li.active:has( + .active){opacity: 0; pointer-events: none;}
.serviceScroll ul li.active:has( + .active) > div::after{transform: translateY(-100%);}


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage h2{padding-block: 200px 40px; background-color: var(--color-yellow02);}
.marketingPage .subMenu{gap: 40px; display: flex; position: sticky; top: var(--headerHeight); background-color: var(--color-yellow02);}
.marketingPage .subMenu a{font-size: 20px; line-height: 60px; font-weight: 700;}
.marketingPage .subMenu a:is(.active, :hover){position: relative;}
.marketingPage .subMenu a:is(.active, :hover)::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background-color: var(--color-font01);}
.marketingPage ul li:not(:last-child){margin-bottom: 120px;}
.marketingPage ul li small{font-size: 22px; line-height: 26px; margin-top: 10px; font-weight: 400; color: var(--color-font03); display: block;}
.marketingPage ul li > div{padding-top: 40px; margin-top: 40px; border-top: 1px solid var(--color-font01); display: flex; justify-content: space-between; align-items: center;}
.marketingPage ul li > div::before{content: ''; width: 52.593%; background-repeat: no-repeat; background-position: left calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) top; background-size: calc(100% * var(--idxTotal));}
.marketingPage ul li > div div{width: 41.852%;}
.marketingPage ul li > div div strong{font-size: 20px; line-height: 24px; margin-bottom: 10px; font-weight: 700; color: var(--color-font01); display: block;}
.marketingPage ul li > div div strong:not(:first-of-type){margin-top: 60px;}
.marketingPage ul li > div div p{font-size: 18px; line-height: 21px; font-weight: 400; color: var(--color-font02);}
.marketingPage ul li > div div mark{font-size: 16px; line-height: 19px; margin-top: 10px; font-weight: 700; display: block;}

/* 마케팅 페이지 - 네이버 */
.marketingPage .naverArea li > div::before{aspect-ratio: 568 / 600; background-image: url(../images/marketing-naver.png);}
.marketingPage .naverArea li:nth-child(1) > div::before{aspect-ratio: 568 / 478;}

/* 마케팅 페이지 - 인스타그램 */
.marketingPage .instagramArea li > div::before{aspect-ratio: 568 / 600; background-image: url(../images/marketing-instagram.png);}
.marketingPage .instagramArea li:nth-child(4) > div::before{aspect-ratio: 568 / 516;}

/* 마케팅 페이지 - 체험단 */
.marketingPage .experienceArea li > div::before{aspect-ratio: 568 / 480; background-image: url(../images/marketing-experience.png);}

/* 마케팅 페이지 - 체험단 */
.marketingPage .videoArea li > div::before{background-image: url(../images/marketing-video.png);}
.marketingPage .videoArea li > div::before{aspect-ratio: 568 / 480;}
.marketingPage .videoArea li > div::before{aspect-ratio: 568 / 400;}


/* 문의 페이지 공통 */
.inquiryPage .btn-red{display: block; margin-top: 60px; margin-inline: auto;}
/* 문의 페이지 */
.inquiryPage{padding-block: 200px 160px;}
.inquiryPage fieldset{font-size: 15px; line-height: 18px; margin-top: 80px;}
.inquiryPage fieldset ul{display: flex; flex-wrap: wrap; gap: 60px 80px;}
.inquiryPage fieldset ul li:not(.full){width: calc((100% - 80px) / 2);}
.inquiryPage fieldset ul li.full{width: 100%;}
.inquiryPage fieldset ul li > label{margin-bottom: 10px; font-weight: 700; color: var(--color-font01); display: flex; align-items: center;}
.inquiryPage fieldset ul li:is(:has(:required), .required) > label{position: relative;}
.inquiryPage fieldset ul li:is(:has(:required), .required) > label::after{transform: translateY(2px); content: '*'; color: var(--color-red);}
.inquiryPage fieldset ul li div{font-weight: 400;}
.inquiryPage fieldset ul li div :is(input:not([type="checkbox"]), textarea){width: 100%; padding-inline: 15px; border-radius: 6px; border: 1px solid #DEDEDE; box-sizing: border-box;}
.inquiryPage fieldset ul li div input:not([type="checkbox"]){max-width: 500px; height: 54px;}
.inquiryPage fieldset ul li div textarea{padding-block: 15px; height: 120px;}
.inquiryPage fieldset ul li div ::placeholder{color: var(--color-font04);}
.inquiryPage fieldset ul li div:has(input[type="checkbox"]){display: flex; align-items: center;}
.inquiryPage fieldset ul li div input[type="checkbox"] + label{font-size: 15px; font-weight: 400; color: var(--color-font01);}
.inquiryPage fieldset ul li div input[type="checkbox"] + label:not(:last-of-type){margin-right: 40px;}
.inquiryPage fieldset ul li div input[type="checkbox"] ~ input:not([type="checkbox"]){margin-left: auto;}
.inquiryPage fieldset ul li div[data-unit]{position: relative;}
.inquiryPage fieldset ul li div[data-unit]::after{content: attr(data-unit); position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
.inquiryPage fieldset ul li div[data-unit] input{padding-right: 45px;}
.inquiryPage fieldset > label{margin-top: 60px; padding-top: 20px; border-top: 1px solid var(--color-font01);}

/* 문의 완료 페이지 */
.inquiryPage > p{font-size: 20px; line-height: 24px; font-weight: 400; color: var(--color-font01); margin-block: 40px 160px;}
.inquiryPage > b{font-size: 18px; line-height: 21px; font-weight: 700;}
.inquiryPage dl:first-of-type{margin-top: 30px; border-top: 1px solid var(--color-font01);}
.inquiryPage dl{font-size: 15px; display: flex;}
.inquiryPage dl > *{min-height: 78px; display: flex; align-items: center; box-sizing: border-box; border-bottom-width: 1px; border-bottom-style: solid;}
.inquiryPage dl dt{width: 200px; font-weight: 700; color: var(--color-font01); flex-shrink: 0; border-bottom-color: var(--color-font01);}
.inquiryPage dl dd{flex: 1; font-weight: 400; color: var(--color-font02); padding-block: 20px; border-bottom-color: #F1F1F1;}
.inquiryPage dl dd p{line-height: 18px;}
.inquiryPage a.btn-red{max-width: 242px;}