/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide{height: 640px;}
.mainPage .mainSlide .swiper-pagination{bottom: 30px;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea ul li::before{content: ''; max-width: 320px; display: block; margin-bottom: 20px;}
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 60px;}

/* 메인 페이지 - 마케팅 성공 사례 */

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div{padding-top: 40px;}
.mainPage .serviceScroll ul li{align-items: flex-end; flex: 1; max-height: 640px;}
.mainPage .serviceScroll ul li > div{box-sizing: border-box;}
.mainPage .serviceScroll ul li > div::after{width: 320px; display: block;}
.mainPage .serviceScroll ul li > div div p{margin-bottom: 40px;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{max-width: 320px; margin-top: 50px; --gap: 10px; --width: 100px; margin-inline: auto;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull ul{height: 330px; max-width: calc(100% + var(--contentSpacing) * 2);}
.aboutUsPage .adcookFull ul li:nth-child(1){left: 20px; top: 40px;}
.aboutUsPage .adcookFull ul li:nth-child(2){right: 20px; bottom: 39px;}
.aboutUsPage .adcookFull ul li p{border-radius: 10px;}
.aboutUsPage .adcookFull ul li:nth-child(1) p{font-size: 14px; line-height: 17px; padding: 23px 32px 21px 23px;}
.aboutUsPage .adcookFull ul li:nth-child(2) p{font-size: 18px; line-height: 21px; padding: 22px 35px 21px 26px;}
.aboutUsPage .adcookFull ul li:nth-child(1) svg:first-of-type{width: 52px; right: 15px;}
.aboutUsPage .adcookFull ul li:nth-child(2) svg:first-of-type{width: 49.5px; right: 14px;}
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){width: 15px; bottom: -11px;}
.aboutUsPage .adcookFull ul li:nth-child(1) mark{left: 9px; font-size: 18px; line-height: 21px;}
.aboutUsPage .adcookFull ul li:nth-child(2) mark{left: 39px; font-size: 21px; line-height: 24px;}

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull{height: auto; padding-block: 80px;}
.aboutUsPage .analyzeFull li::before{margin-inline: auto;}
.aboutUsPage .analyzeFull li:not(:last-child){margin-bottom: 60px;}
.aboutUsPage .locationFull iframe{left: 0; bottom: 0; width: 100%; min-height: 274px; max-height: 400px; aspect-ratio: 360 / 274;}

/* 회사소개 페이지 - 비지니스 파트너스 */

/* 회사소개 페이지 - Location 오시는 길 */


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage ul li > div::before{display: block; margin-bottom: 30px;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */
.inquiryPage fieldset ul li:not(:last-child){margin-bottom: 30px;}
.inquiryPage fieldset ul li > div:has(div) > label:nth-of-type(2n + 1){width: 31.25%;}
.inquiryPage fieldset ul li > div:has(div) > label:nth-of-type(2n){width: 68.75%;}
.inquiryPage fieldset ul li > div div{flex-wrap: wrap;}
.inquiryPage fieldset ul li > div :is(input:not([type="checkbox"]), textarea){width: 100%; flex: none;}

/* 문의 완료 페이지 */
.inquiryPage dl dt{width: 90px;}
