/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */

/* 메인 페이지 - 애드쿡의 현장 마케팅 */

/* 메인 페이지 - 마케팅 성공 사례 */

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll ul li > div{justify-content: space-between;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{--gap: 20px; --width: 178px;}



/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */

/* 회사소개 페이지 - 비지니스 파트너스 */
.aboutUsPage .businessArea ul{margin-inline: auto;}

/* 회사소개 페이지 - Location 오시는 길 */


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage ul li > div::before{width: 50%;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */

/* 문의 완료 페이지 */
