br.mobile{display: none;}

/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea ul li{display: flex; justify-content: space-between; align-items: center;}
.mainPage .siteArea ul li::before, 
.mainPage .siteArea ul li::after{width: 50%;}
.mainPage .siteArea ul li:nth-child(2n)::before{content: '';}
.mainPage .siteArea ul li:nth-child(2n + 1)::after{content: '';} 

/* 메인 페이지 - 마케팅 성공 사례 */

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll ul li{align-items: center;}
.mainPage .serviceScroll ul li > div{display: flex;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{width: calc(var(--idxTotal) / 2 * var(--width) + (var(--idxTotal) / 2 * var(--gap)));}
.mainPage .brandArea ul li{flex-shrink: 0; border-radius: 70px; box-shadow: 10px 20px 40px 0px rgba(0, 0, 0, 0.10);}
.mainPage .brandArea ul li:nth-child(-n + 14){position: relative; animation: brandAni 30s calc(-30s / 14 * var(--styleIdx)) linear infinite; left: calc(100% - (var(--width) + var(--gap)) * var(--styleIdx));}
.mainPage .brandArea ul li:nth-child(n + 15){position: relative; animation: brandAniTest 30s calc(-30s / 14 * (var(--styleIdx) - 14)) linear infinite; left: calc((var(--width) + var(--gap)) * (var(--styleIdx) + 1) * -1);}
@keyframes brandAni {
    0%{left: calc(100% - (var(--width) + var(--gap)) * var(--styleIdx));}
    100%{left: calc((var(--width) + var(--gap)) * (var(--styleIdx) + 1) * -1);}
}

@keyframes brandAniTest {
    0%{left: calc((var(--width) + var(--gap)) * ((var(--styleIdx) - 14) + 1) * -1);}
    100%{left: calc(100% - (var(--width) + var(--gap)) * (var(--styleIdx) - 14));}
}



/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull{display: flex; justify-content: space-between; align-items: center; position: sticky; top: 0; z-index: -1;}

/* 회사소개 페이지 - 비지니스 파트너스 */

/* 회사소개 페이지 - Location 오시는 길 */
.aboutUsPage .locationFull{display: flex;}
.aboutUsPage .locationFull iframe{right: 0; top: 0; width: 50%; height: 100%;}


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage ul li > div{display: flex; justify-content: space-between; align-items: center;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */
.inquiryPage fieldset ul{display: flex; flex-wrap: wrap;}

/* 문의 완료 페이지 */
