/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide .swiper-wrapper [class*="slide"] mark{font-size: 30px; line-height: 36px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p{font-size: 70px; line-height: 84px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg{height: 110px; vertical-align: middle;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.big{width: 110px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.small{width: 92px;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea h2{margin-bottom: 80px;}
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 100px;}
.mainPage .siteArea ul li div{width: 46.875%;}
.mainPage .siteArea ul li div p{font-size: 16px; line-height: 24px;}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull strong{font-size: 24px; line-height: 29px;}
.mainPage .successFull h2{margin-bottom: 40px;}
.mainPage .successFull b{font-size: 20px; line-height: 24px;}
.mainPage .successFull p{font-size: 16px; line-height: 19px;}

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div{padding-top: 80px;}
.mainPage .serviceScroll > div ol li{width: 12px;}
.mainPage .serviceScroll > div h2{font-size: 24px; line-height: 29px; margin-top: 22px;}
.mainPage .serviceScroll ul li > div::after{width: 520px;}
.mainPage .serviceScroll ul li > div div{padding-top: 187px;}
.mainPage .serviceScroll ul li > div div p{font-size: 16px; line-height: 24px; margin-bottom: 100px;}
.mainPage .serviceScroll ul li > div div a{font-size: 16px; line-height: 19px;}
/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{margin-top: 160px;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull > p{font-size: 34px; line-height: 41px; margin-bottom: 10px;}
.aboutUsPage .adcookFull h2{font-size: 70px; line-height: 84px;}
.aboutUsPage .adcookFull ul{height: 404px;}
.aboutUsPage .adcookFull ul li:nth-child(1){left: 35px; top: 41px;}
.aboutUsPage .adcookFull ul li:nth-child(2){right: 35px; bottom: 43.5px;}
/* .aboutUsPage .adcookFull ul li:nth-child(1) p{font-size: 30px; line-height: 36px; padding: 50px 80px 50px 50px;}
.aboutUsPage .adcookFull ul li:nth-child(2) p{font-size: 40px; line-height: 48px; padding: 50px 60px;} */
.aboutUsPage .adcookFull ul li svg:first-of-type{width: 99px; right: 29px;}
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){width: 31px;}

/* 회사소개 페이지  - 텍스트 */
.aboutUsPage .textScroll > div p{font-size: 30px; line-height: 50px;}

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull li::before{width: 284px; margin-bottom: 40px;}
.aboutUsPage .analyzeFull li strong{font-size: 24px; line-height: 29px; margin-bottom: 20px;}
.aboutUsPage .analyzeFull li p{font-size: 16px; line-height: 22px;}

/* 회사소개 페이지 - 비지니스 파트너스 */
.aboutUsPage .businessArea ul{max-width: 860px;}

/* 회사소개 페이지 - Location 오시는 길 */
.aboutUsPage .locationFull div > p{font-size: 18px; line-height: 21px;}
.aboutUsPage .locationFull div strong{font-size: 20px; line-height: 24px;}
.aboutUsPage .locationFull div ul li{padding-left: 23px;}
.aboutUsPage .locationFull div ul li::before{width: 20px;}
.aboutUsPage .locationFull div ul li:not(:last-child){margin-bottom: 20px;}
.aboutUsPage .locationFull div ul li > *:first-child{font-size: 16px; line-height: 19px;}
.aboutUsPage .locationFull div ul li small{font-size: 15px; line-height: 18px;}


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage h2{padding-bottom: 20px;}
.marketingPage .subMenu{gap: 30px;}
.marketingPage .subMenu a{font-size: 18px; line-height: 61px;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */

/* 문의 완료 페이지 */
