/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide .swiper-wrapper [class*="slide"] mark{font-size: 40px; line-height: 48px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p{font-size: 80px; line-height: 95px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg{height: 120px; transform: translateY(-10px); vertical-align: middle;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.big{width: 120px;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"] p svg.small{width: 100px;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea h2{margin-bottom: 120px;}
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 120px;}
.mainPage .siteArea ul li div{width: 42.5925%;}
.mainPage .siteArea ul li div strong{margin-bottom: 30px;}
.mainPage .siteArea ul li div p{font-size: 22px; line-height: 30px;}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull strong{font-size: 30px; line-height: 36px;}
.mainPage .successFull b{font-size: 24px; line-height: 29px;}
.mainPage .successFull p{font-size: 18px; line-height: 21px;}

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div{padding-top: 120px;}
.mainPage .serviceScroll > div ol{gap: 20px;}
.mainPage .serviceScroll > div ol li{width: 14px;}
.mainPage .serviceScroll > div h2{font-size: 30px; line-height: 36px; margin-top: 30px;}
.mainPage .serviceScroll ul li > div::after{width: 57.408%;}
.mainPage .serviceScroll ul li > div div{width: 42.593%; padding-top: 240px;}
.mainPage .serviceScroll ul li > div div p{font-size: 24px; line-height: 32px; margin-bottom: 80px;}
.mainPage .serviceScroll ul li > div div a{font-size: 24px; line-height: 29px;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{margin-top: 200px; --gap: 30px; --width: 330px;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull > p{font-size: 44px; line-height: 53px; margin-top: 90px;}
.aboutUsPage .adcookFull h2{font-size: 80px; line-height: 95px;}
.aboutUsPage .adcookFull ul{margin-top: 80px; height: 464px;}
.aboutUsPage .adcookFull ul li:nth-child(1){left: 40px; top: 47px;}
.aboutUsPage .adcookFull ul li:nth-child(2){right: 40px; bottom: 50px;}
.aboutUsPage .adcookFull ul li p{border-radius: 20px;}
.aboutUsPage .adcookFull ul li:nth-child(1) p{font-size: 30px; line-height: 36px; padding: 50px 80px 50px 50px;}
.aboutUsPage .adcookFull ul li:nth-child(2) p{font-size: 40px; line-height: 48px; padding: 50px 60px;}
.aboutUsPage .adcookFull ul li svg:first-of-type{width: 122px; right: 40px;}
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){width: 46px;}

/* 회사소개 페이지  - 텍스트 */
.aboutUsPage .textScroll > div p{font-size: 40px; line-height: 60px;}

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull li::before{width: 320px; margin-bottom: 60px;}
.aboutUsPage .analyzeFull li strong{font-size: 34px; line-height: 41px; margin-bottom: 20px;}
.aboutUsPage .analyzeFull li p{font-size: 24px; line-height: 29px;}

/* 회사소개 페이지 - 비지니스 파트너스 */

/* 회사소개 페이지 - Location 오시는 길 */
.aboutUsPage .locationFull{align-items: center;}
.aboutUsPage .locationFull div > p{font-size: 22px; line-height: 26px;}
.aboutUsPage .locationFull div strong{font-size: 24px; line-height: 29px; margin-top: 200px;}
.aboutUsPage .locationFull div ul li{padding-left: 30px;}
.aboutUsPage .locationFull div ul li::before{width: 24px;}
.aboutUsPage .locationFull div ul li:not(:last-child){margin-bottom: 20px;}
.aboutUsPage .locationFull div ul li > *:first-child{font-size: 20px; line-height: 24px;}
.aboutUsPage .locationFull div ul li small{font-size: 18px; line-height: 21px;}


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage h2{padding-bottom: 40px;}
.marketingPage .subMenu{gap: 40px;}
.marketingPage .subMenu a{font-size: 20px; line-height: 64px;}
.marketingPage ul li small{font-size: 22px; line-height: 26px;}
.marketingPage ul li > div{padding-top: 40px; margin-top: 40px;}
.marketingPage ul li > div::before{width: 52.593%;}
.marketingPage ul li > div div{width: 41.852%;}
.marketingPage ul li > div div strong{font-size: 20px; line-height: 24px; margin-bottom: 10px;}
.marketingPage ul li > div div strong:not(:first-of-type){margin-top: 60px;}
.marketingPage ul li > div div p{font-size: 18px; line-height: 21px;}
.marketingPage ul li > div div mark{font-size: 16px; line-height: 19px; margin-top: 10px;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */
.inquiryPage{padding-bottom: 160px;}
.inquiryPage fieldset ul li > div{gap: 40px;}

/* 문의 완료 페이지 */
