:root{
    --color-font01: #000000;
    --color-font02: #666666;
    --color-font03: #999999;
    --color-font04: #BBBBBB;
    --color-font04: #FFB7A6;
    --color-red: #F66C4B;
    --color-green: #16884C;
    --color-yellow01: #FCCA2D;
    --color-yellow02: #FFE287;
    --contentSize: 1080px;
    --headerHeight: 120px;
}