/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea ul li div strong{margin-bottom: 20px;}

/* 메인 페이지 - 마케팅 성공 사례 */

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div ol{gap: 15px;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */



/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull ul{margin-top: 40px;}

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */

/* 회사소개 페이지 - 비지니스 파트너스 */

/* 회사소개 페이지 - Location 오시는 길 */


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
:is(.marketingPage, .newsPage) .subMenu{gap: 30px;}
.marketingPage ul li > div{margin-top: 30px;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */

/* 문의 완료 페이지 */


/* 뉴스 페이지 */
ul.newsBox li a mark{margin-bottom: 7px;}

.newsDetailPage .editor{margin-top: 30px;}
