/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide{height: 640px;}
.mainPage .mainSlide .swiper-pagination{bottom: 30px;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea ul li::before{content: ''; max-width: 320px; display: block; margin-bottom: 20px;}
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 60px;}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull ul li:nth-child(1){width: 80px; left: -80px; top: -110px;}
.mainPage .successFull ul li:nth-child(2){width: 100px; left: 25px; top: -140px;}
.mainPage .successFull ul li:nth-child(3){width: 100px; left: -95px; top: -45px;}
.mainPage .successFull ul li:nth-child(4){width: 120px; left: -10px; top: 5px;}
.mainPage .successFull ul li:nth-child(5){width: 130px; left: 80px; top: -25px;}
.mainPage .successFull ul li:nth-child(6){width: 100px; left: 0; top: 45px;}
.mainPage .successFull ul li:nth-child(7){width: 50px; left: 0; top: 0;}
.mainPage .successFull.active ul li:nth-child(1){left: -140px; top: -120px;}
.mainPage .successFull.active ul li:nth-child(2){left: 105px; top: -180px;}
.mainPage .successFull.active ul li:nth-child(3){left: -130px; top: 200px;}
.mainPage .successFull.active ul li:nth-child(4){left: -50px; top: 290px;}
.mainPage .successFull.active ul li:nth-child(5){left: 115px; top: 250px;}
.mainPage .successFull.active ul li:nth-child(6){left: 20px; top: -220px;}
.mainPage .successFull.active ul li:nth-child(7){left: 10px; top: 200px;}

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div{padding-top: 40px;}
.mainPage .serviceScroll ul li{align-items: flex-end; flex: 1; max-height: 640px;}
.mainPage .serviceScroll ul li > div{box-sizing: border-box;}
.mainPage .serviceScroll ul li > div::after{width: 320px; display: block;}
.mainPage .serviceScroll ul li > div div p{margin-bottom: 40px;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{max-width: 320px; margin-top: 50px; --gap: 10px; --width: 100px; margin-inline: auto;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull ul{height: 330px; max-width: calc(100% + var(--contentSpacing) * 2);}
.aboutUsPage .adcookFull ul li:nth-child(1){left: 20px; top: 40px;}
.aboutUsPage .adcookFull ul li:nth-child(2){right: 20px; bottom: 39px;}
.aboutUsPage .adcookFull ul li p{border-radius: 10px;}
.aboutUsPage .adcookFull ul li:nth-child(1) p{font-size: 14px; line-height: 17px; padding: 23px 32px 21px 23px;}
.aboutUsPage .adcookFull ul li:nth-child(2) p{font-size: 18px; line-height: 21px; padding: 22px 35px 21px 26px;}
.aboutUsPage .adcookFull ul li:nth-child(1) svg:first-of-type{width: 52px; right: 15px;}
.aboutUsPage .adcookFull ul li:nth-child(2) svg:first-of-type{width: 49.5px; right: 14px;}
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){width: 15px; bottom: -11px;}
.aboutUsPage .adcookFull ul li:nth-child(1) mark{left: 9px; font-size: 18px; line-height: 21px;}
.aboutUsPage .adcookFull ul li:nth-child(2) mark{left: 39px; font-size: 21px; line-height: 24px;}

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull{height: auto; padding-block: 80px;}
.aboutUsPage .analyzeFull li::before{margin-inline: auto;}
.aboutUsPage .analyzeFull li:not(:last-child){margin-bottom: 60px;}
.aboutUsPage .locationFull iframe{left: 0; bottom: 0; width: 100%; min-height: 274px; max-height: 400px; aspect-ratio: 360 / 274;}

/* 회사소개 페이지 - 비지니스 파트너스 */

/* 회사소개 페이지 - Location 오시는 길 */


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage ul li > div::before{display: block; margin-bottom: 30px;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */
.inquiryPage fieldset ul li:not(:last-child){margin-bottom: 30px;}
.inquiryPage fieldset ul li > div:has(div) > label:nth-of-type(2n + 1){width: 31.25%;}
.inquiryPage fieldset ul li > div:has(div) > label:nth-of-type(2n){width: 68.75%;}
.inquiryPage fieldset ul li > div div{flex-wrap: wrap;}
.inquiryPage fieldset ul li > div :is(input:not([type="checkbox"]), textarea){width: 100%; flex: none;}

/* 문의 완료 페이지 */
.inquiryPage dl dt{width: 90px;}



/* 2024-04-02 추가 */
/* 메인 뉴스 */
.mainPage .newsFull ul{max-width: fit-content; overflow: auto; transform: translateX(calc(var(--contentSpacing) * -1)); width: calc(100% + (var(--contentSpacing))); padding-inline: var(--contentSpacing); /* box-sizing: border-box; */}
.mainPage .newsFull ul li{min-width: 220px;}
.mainPage .newsFull ul li:first-child{padding-left: var(--contentSpacing);}
.mainPage .newsFull > a{width: 100%; max-width: 320px; line-height: 48px; margin-top: 60px;}

/* 뉴스 페이지 */
.newsPage .newsBox li{width: 100%; margin-right: 0;}

.newsDetailPage strong{margin-bottom: 12px; padding-top: 15px;}
.newsDetailPage .editor{padding-block: 40px 60px;}
