/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide{background: url(../images/main-mainSlideBG.png) center;}
.mainPage .mainSlide .swiper-wrapper [class*="slide"]{display: flex; flex-direction: column; justify-content: center; align-items: center; font-weight: 700; text-align: center;}
.mainPage .mainSlide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: black;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea h2{text-align: center;}
.mainPage .siteArea ul li::before, 
.mainPage .siteArea ul li::after{aspect-ratio: 540 / 380; background: url(../images/main-site.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .siteArea ul li div strong{display: block;}
.mainPage .siteArea ul li div p{font-weight: 400; color: var(--color-font03);}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull{text-align: center; color: var(--color-font01); background-color: #FFF1DB; position: relative; overflow: hidden;}
.mainPage .successFull strong{margin-bottom: 30px; font-weight: 700; display: block;}
.mainPage .successFull h2{margin-bottom: 40px;}
.mainPage .successFull b{margin-bottom: 10px; font-weight: 700; display: block;}
.mainPage .successFull p{font-weight: 400;}
.mainPage .successFull ul{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2;}
.mainPage .successFull ul li{position: absolute; transform: translate(-50%, -50%); aspect-ratio: 1; background: url(../images/main-success.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%; transition-property: left, top; transition-duration: 1.8s; transition-timing-function: cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.mainPage .successFull ul li:nth-child(1){z-index: 6;}
.mainPage .successFull ul li:nth-child(2){z-index: 5;}
.mainPage .successFull ul li:nth-child(3){z-index: 4;}
.mainPage .successFull ul li:nth-child(4){z-index: 2;}
.mainPage .successFull ul li:nth-child(5){z-index: 3;}
.mainPage .successFull ul li:nth-child(6){z-index: 1; opacity: 0.2; filter: blur(10px);}
.mainPage .successFull ul li:nth-child(7){z-index: 0; opacity: 0.2; filter: blur(10px);}

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll{height: 300vh; --color: white; color: var(--color); position: relative; transition: background-color 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
/* .mainPage .serviceScroll:has( > div ol li:nth-child(1).active + :not(.active)){background-color: var(--color-green);}
.mainPage .serviceScroll:has( > div ol li:nth-child(2).active + :not(.active)){background-color: #081337;}
.mainPage .serviceScroll:has( > div ol li:nth-child(3).active + :not(.active)){background-color: var(--color-yellow02); --color: var(--color-font01);}
.mainPage .serviceScroll:has( > div ol li:nth-child(4).active){background-color: var(--color-red);} */
.mainPage .serviceScroll{background-color: #081337;}
.mainPage .serviceScroll.active1{background-color: var(--color-green);}
.mainPage .serviceScroll.active2{background-color: #081337;}
.mainPage .serviceScroll.active3{background-color: var(--color-yellow02); --color: var(--color-font01);}
.mainPage .serviceScroll.active4{background-color: var(--color-red);}
.mainPage .serviceScroll > div{position: sticky; top: var(--headerHeight); height: var(--fullHeight); box-sizing: border-box; z-index: 1; pointer-events: none;}
.mainPage .serviceScroll > div > *{pointer-events: all;}
.mainPage .serviceScroll > div ol{display: flex;}
.mainPage .serviceScroll > div ol li{aspect-ratio: 1; opacity: 0.2; background-color: var(--color); border-radius: 100%; font-size: 8px; text-indent: -9999px;}
/* .mainPage .serviceScroll > div ol li.active{opacity: 1;}
.mainPage .serviceScroll > div ol li.active:has( + .active){opacity: 0.2;} */
.mainPage .serviceScroll.active0:not(.active1) > div ol li:nth-child(1){opacity: 1;}
.mainPage .serviceScroll.active1:not(.active2) > div ol li:nth-child(2){opacity: 1;}
.mainPage .serviceScroll.active2:not(.active3) > div ol li:nth-child(3){opacity: 1;}
.mainPage .serviceScroll.active3 > div ol li:nth-child(4){opacity: 1;}
.mainPage .serviceScroll > div h2{font-weight: 700; color: var(--color);}
.mainPage .serviceScroll ul{position: sticky; top: calc(var(--fullHeight) + var(--headerHeight)); left: 0; width: 100%; box-sizing: border-box; transform: translateY(calc(var(--fullHeight) * -1));}
.mainPage .serviceScroll ul li{height: calc(var(--fullHeight) - var(--headerHeight)); display: flex;}
.mainPage .serviceScroll ul li{position: absolute; top: 0; left: 0; width: 100%;}
.mainPage .serviceScroll ul li > div{width: 100%;}
.mainPage .serviceScroll ul li > div::after{content: ''; aspect-ratio: 1; align-self: flex-start; background: url(../images/main-service.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .serviceScroll ul li > div div h3{margin-bottom: 30px;}
.mainPage .serviceScroll ul li > div div p{font-weight: 400;}
.mainPage .serviceScroll ul li > div div a{text-decoration: underline;}
/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */
.mainPage .serviceScroll ul li{transition: opacity 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.mainPage .serviceScroll ul li > div::after{transition: transform 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.mainPage .serviceScroll ul li:not(:first-child){position: absolute; top: 0; opacity: 0; pointer-events: none;}
.mainPage .serviceScroll ul li:not(:first-child) > div::after{transform: translateY(100%);}
.mainPage .serviceScroll ul li:not(:first-child).active{opacity: 1;}
.mainPage .serviceScroll ul li:not(:first-child).active > div::after{transform: translateY(0%);}
.mainPage .serviceScroll ul li.active{pointer-events: all;}
/* .mainPage .serviceScroll ul li.active:has( + .active){opacity: 0; pointer-events: none;}
.mainPage .serviceScroll ul li.active:has( + .active) > div::after{transform: translateY(-100%);} */
.mainPage .serviceScroll.active1{}
.mainPage .serviceScroll.active1 ul li:nth-child(1){opacity: 0; pointer-events: none;}
.mainPage .serviceScroll.active1 ul li:nth-child(1) > div::after{transform: translateY(-100%);}
.mainPage .serviceScroll.active2 ul li:nth-child(2){opacity: 0; pointer-events: none;}
.mainPage .serviceScroll.active2 ul li:nth-child(2) > div::after{transform: translateY(-100%);}
.mainPage .serviceScroll.active3 ul li:nth-child(3){opacity: 0; pointer-events: none;}
.mainPage .serviceScroll.active3 ul li:nth-child(3) > div::after{transform: translateY(-100%);}

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea{text-align: center; overflow: hidden;}
.mainPage .brandArea ul{display: flex; flex-wrap: wrap; gap: var(--gap);}
.mainPage .brandArea ul li{width: var(--width); aspect-ratio: 330 / 130; background: url(../images/logo-business.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull{position: sticky; top: 0; z-index: -3;}
.aboutUsPage .adcookFull > p{font-weight: 200;}
.aboutUsPage .adcookFull > p b{font-weight: 700;}
.aboutUsPage .adcookFull h2{font-weight: 700;}
.aboutUsPage .adcookFull ul{width: 100%; position: relative;}
.aboutUsPage .adcookFull ul li{position: absolute;}
.aboutUsPage .adcookFull ul li p{font-weight: 200;}
.aboutUsPage .adcookFull ul li:nth-child(1) p{color: var(--color-font01); background-color: white; box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);}
.aboutUsPage .adcookFull ul li:nth-child(2) p{color: white; background-color: var(--color-red);}
.aboutUsPage .adcookFull ul li p b{font-weight: 700;}
.aboutUsPage .adcookFull ul li mark{position: absolute; top: 0%; transform: translateY(calc(-100% - 10px)); font-family: 'Nanum Pen Script';}
.aboutUsPage .adcookFull ul li:nth-child(1) mark{color: var(--color-red);}
.aboutUsPage .adcookFull ul li:nth-child(2) mark span{position: relative;}
.aboutUsPage .adcookFull ul li:nth-child(2) mark span::before{content: ''; width: 6px; aspect-ratio: 1; position: absolute; left: 50%; top: 0; transform: translate(-50% , -100%); background-color: var(--color-red); border-radius: 100%;}
.aboutUsPage .adcookFull ul li svg:first-of-type{position: absolute; top: 0; aspect-ratio: 1; transform: translateY(-50%); }
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){position: absolute; aspect-ratio: 46 / 50; left: 50%; transform: translateX(-50%);}

/* 회사소개 페이지  - 텍스트 */
.aboutUsPage .textScroll{height: 400vh; background-color: black; position: sticky; top: calc(-400vh + var(--fullHeight)); z-index: -2; transition: background-color 0.5s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
/* .aboutUsPage .textScroll:has( > div > *:nth-child(2).active + :not(.active)){background-color: #F66C4B;} */
.aboutUsPage .textScroll.active1:not(.active2){background-color: #F66C4B;}
.aboutUsPage .textScroll > div{position: sticky; top: 0; left: 0; width: 100%;}
.aboutUsPage .textScroll > div > *{opacity: 0; pointer-events: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.aboutUsPage .textScroll > div > *:nth-child(1){color: var(--color-font03); opacity: 1;}
.aboutUsPage .textScroll > div > *:nth-child(2){color: #FFB7A6;}
.aboutUsPage .textScroll > div > *:nth-child(3){color: var(--color-font03);}
.aboutUsPage .textScroll > div p{font-weight: 700; text-align: center;}
.aboutUsPage .textScroll > div > p{padding-top: var(--headerHeight); box-sizing: border-box;}
.aboutUsPage .textScroll > div > div{height: 100%; display: flex; flex-direction: column; justify-content: center;}
.aboutUsPage .textScroll > div > div::after{content: ''; max-width: 1920px; margin-inline: auto; width: 100%; aspect-ratio: 1920 / 400; background: url(../images/aboutUs-text.png) no-repeat center / 100%;}
.aboutUsPage .textScroll > div > div p{flex: 1;}
.aboutUsPage .textScroll > div > *{transition: opacity 1s cubic-bezier(0.25, 0.47, 0.12, 0.99);}
.aboutUsPage .textScroll.active0 > div > *:nth-child(1){opacity: 1; pointer-events: all;}
.aboutUsPage .textScroll.active1 > div > *:nth-child(2){opacity: 1; pointer-events: all;}
.aboutUsPage .textScroll.active2 > div > *:nth-child(3){opacity: 1; pointer-events: all;}
/* .aboutUsPage .textScroll > div > *.active:has(+ .active){opacity: 0; pointer-events: none;} */
.aboutUsPage .textScroll.active1 > div > *:nth-child(1){opacity: 0; pointer-events: none;}
.aboutUsPage .textScroll.active2 > div > *:nth-child(2){opacity: 0; pointer-events: none;}
/* .aboutUsPage .textScroll.active2 > div > *:nth-child(3){opacity: 0; pointer-events: none;} */
.aboutUsPage .textScroll > div > *.active b{color: white;  transition: color 1s 0.3s cubic-bezier(0.25, 0.47, 0.12, 0.99);}

/* 회사소개 페이지  - 브랜드별 분석 */
.aboutUsPage .analyzeFull{background-color: var(--color-yellow02);}
.aboutUsPage .analyzeFull li{text-align: center;}
.aboutUsPage .analyzeFull li::before{content: ''; aspect-ratio: 1; background: url(../images/aboutUs-analyze.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%; display: block;}
.aboutUsPage .analyzeFull li strong{font-weight: 700; color: var(--color-font01); display: block;}
.aboutUsPage .analyzeFull li p{color: var(--color-font02);}

/* 회사소개 페이지 - 비지니스 파트너스 */
.aboutUsPage .businessArea{text-align: center; background-color: white;}
.aboutUsPage .businessArea small{font-size: 22px; line-height: 26px; font-weight: 400; color: var(--color-font03); margin-bottom: 10px; display: block;}
.aboutUsPage .businessArea ul{display: flex; flex-wrap: wrap;}
.aboutUsPage .businessArea ul li{aspect-ratio: 200 / 80; background: url(../images/logo-business.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}

/* 회사소개 페이지 - Location 오시는 길 */
.aboutUsPage .locationFull{background-color: #081337; position: relative;}
.aboutUsPage .locationFull div{width: 50%; color: white;}
.aboutUsPage .locationFull div > p{margin-top: 10px; font-weight: 400;}
.aboutUsPage .locationFull div strong{font-weight: 700; display: block;}
.aboutUsPage .locationFull div ul li{position: relative;}
.aboutUsPage .locationFull div ul li::before{content: ''; aspect-ratio: 1; position: absolute; left: 0; top: 0; background: url(../images/icon-location.png) no-repeat center top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.aboutUsPage .locationFull div ul li > *:first-child{font-weight: 400;}
.aboutUsPage .locationFull div ul li small{margin-top: 5px; opacity: 0.5; display: block;}
.aboutUsPage .locationFull iframe{position: absolute;}


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage h2{background-color: var(--color-yellow02);}
.marketingPage .subMenu{display: flex; position: sticky; top: var(--headerHeight); background-color: var(--color-yellow02);}
.marketingPage .subMenu a{font-weight: 700;}
.marketingPage .subMenu a:is(.active, :hover){position: relative;}
.marketingPage .subMenu a:is(.active, :hover)::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background-color: var(--color-font01);}
.marketingPage ul li small{margin-top: 10px; font-weight: 400; color: var(--color-font03); display: block;}
.marketingPage ul li > div{border-top: 1px solid var(--color-font01);}
.marketingPage ul li > div::before{content: ''; background-repeat: no-repeat; background-position: left calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) top; background-size: calc(100% * var(--idxTotal));}
.marketingPage ul li > div div strong{font-weight: 700; color: var(--color-font01); display: block;}
.marketingPage ul li > div div strong:not(:first-of-type){margin-top: 60px;}
.marketingPage ul li > div div p{font-weight: 400; color: var(--color-font02);}
.marketingPage ul li > div div mark{font-weight: 700; display: block;}

/* 마케팅 페이지 - 네이버 */
.marketingPage .naverArea li > div::before{aspect-ratio: 568 / 600; background-image: url(../images/marketing-naver.png);}
.marketingPage .naverArea li:nth-child(1) > div::before{aspect-ratio: 568 / 478;}

/* 마케팅 페이지 - 인스타그램 */
.marketingPage .instagramArea li > div::before{aspect-ratio: 568 / 600; background-image: url(../images/marketing-instagram.png);}
.marketingPage .instagramArea li:nth-child(4) > div::before{aspect-ratio: 568 / 516;}

/* 마케팅 페이지 - 체험단 */
.marketingPage .experienceArea li > div::before{aspect-ratio: 568 / 480; background-image: url(../images/marketing-experience.png);}

/* 마케팅 페이지 - 체험단 */
.marketingPage .videoArea li > div::before{background-image: url(../images/marketing-video.png);}
.marketingPage .videoArea li > div::before{aspect-ratio: 568 / 480;}
.marketingPage .videoArea li > div::before{aspect-ratio: 568 / 400;}


/* 문의 페이지 공통 */
.inquiryPage .btn-red{display: block; margin-inline: auto;}
/* 문의 페이지 */
.inquiryPage fieldset ul li.full{width: 100%;}
.inquiryPage fieldset ul li > label{margin-bottom: 10px; font-weight: 700; color: var(--color-font01); display: flex; align-items: center;}
.inquiryPage fieldset ul li:is(:has(:required), .required) > label{position: relative;}
.inquiryPage fieldset ul li:is(:has(:required), .required) > label::after{transform: translateY(2px); content: '*'; color: var(--color-red);}
.inquiryPage fieldset ul li div{display: flex; font-weight: 400;}
.inquiryPage fieldset ul li > div :is(input:not([type="checkbox"]), textarea){flex: 1; padding-inline: 15px; border-radius: 6px; border: 1px solid #DEDEDE; box-sizing: border-box;}
.inquiryPage fieldset ul li > div textarea{padding-block: 15px; height: 120px;}
.inquiryPage fieldset ul li > div ::placeholder{color: var(--color-font04);}
.inquiryPage fieldset ul li > div input[type="checkbox"] + label{font-size: 15px; font-weight: 400; color: var(--color-font01);}
.inquiryPage fieldset ul li > div[data-unit]{position: relative;}
.inquiryPage fieldset ul li > div[data-unit]::after{content: attr(data-unit); position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
.inquiryPage fieldset ul li > div[data-unit] input{padding-right: 45px;}
.inquiryPage fieldset > label{padding-top: 20px; border-top: 1px solid var(--color-font01);}

/* 문의 완료 페이지 */
.inquiryPage > p{font-weight: 400; color: var(--color-font01);}
.inquiryPage > b{font-weight: 700;}
.inquiryPage dl:first-of-type{border-top: 1px solid var(--color-font01);}
.inquiryPage dl{display: flex;}
.inquiryPage dl > *{display: flex; align-items: center; box-sizing: border-box; border-bottom-width: 1px; border-bottom-style: solid;}
.inquiryPage dl dt{font-weight: 700; color: var(--color-font01); flex-shrink: 0; border-bottom-color: var(--color-font01);}
.inquiryPage dl dd{flex: 1; font-weight: 400; color: var(--color-font02); padding-block: 20px; padding-left: 20px; border-bottom-color: #F1F1F1;}
.inquiryPage a.btn-red{max-width: 242px;}