/* 메인 페이지 */
/* 메인 페이지 - 메인 슬라이더 */
.mainPage .mainSlide{height: 500px;}
.mainPage .mainSlide .swiper-pagination{bottom: 38px;}

/* 메인 페이지 - 애드쿡의 현장 마케팅 */
.mainPage .siteArea ul li:not(:last-child){margin-bottom: 40px;}
.mainPage .siteArea ul li div{width: 45.834%;}

/* 메인 페이지 - 마케팅 성공 사례 */
.mainPage .successFull ul li:nth-child(1){width: 130px; left: -105px; top: -130px;}
.mainPage .successFull ul li:nth-child(2){width: 130px; left: 40px; top: -160px;}
.mainPage .successFull ul li:nth-child(3){width: 160px; left: -120px; top: -25px;}
.mainPage .successFull ul li:nth-child(4){width: 190px; left: -10px; top: 40px;}
.mainPage .successFull ul li:nth-child(5){width: 200px; left: 115px; top: 10px;}
.mainPage .successFull ul li:nth-child(6){width: 160px; left: 0; top: 45px;}
.mainPage .successFull ul li:nth-child(7){width: 100px; left: 0; top: 0;}
.mainPage .successFull.active ul li:nth-child(1){left: -247px; top: -100px;}
.mainPage .successFull.active ul li:nth-child(2){left: 315px; top: -140px;}
.mainPage .successFull.active ul li:nth-child(3){left: -319px; top: 220px;}
.mainPage .successFull.active ul li:nth-child(4){left: -50px; top: 310px;}
.mainPage .successFull.active ul li:nth-child(5){left: 280px; top: 200px;}
.mainPage .successFull.active ul li:nth-child(6){left: 0; top: -190px;}
.mainPage .successFull.active ul li:nth-child(7){left: 70px; top: 230px;}

/* 메인 페이지 - 마케팅 서비스 안내 */
.mainPage .serviceScroll > div{padding-top: 60px;}
.mainPage .serviceScroll ul li > div::after{width: 352px;}
.mainPage .serviceScroll ul li > div div{padding-top: 109px;}
.mainPage .serviceScroll ul li > div div p{margin-bottom: 60px;}

/* 메인 페이지 - 마케팅 서비스 안내 - 애니메이션 */

/* 메인 페이지 - 함계하는 브랜드 */
.mainPage .brandArea ul{margin-top: 100px;}


/* 회사소개 페이지 */
/* 회사소개 페이지 - 상단 */
.aboutUsPage .adcookFull ul{height: 302px;}
.aboutUsPage .adcookFull ul li:nth-child(1){left: 26px; top: 31px;}
.aboutUsPage .adcookFull ul li:nth-child(2){right: 26px; bottom: 32px;}
.aboutUsPage .adcookFull ul li:nth-child(1) p{font-size: 20px; line-height: 24px; padding: 32px 46px 31px 32px;}
.aboutUsPage .adcookFull ul li:nth-child(2) p{font-size: 26px; line-height: 31px; padding: 32px 62px 33px 39px;}
.aboutUsPage .adcookFull ul li svg:first-of-type{width: 74px; right: 21px;}
.aboutUsPage .adcookFull ul li svg:nth-of-type(2){width: 23px; bottom: -17px;}
.aboutUsPage .adcookFull ul li:nth-child(1) mark{left: 13px; font-size: 21px; line-height: 24px;}
.aboutUsPage .adcookFull ul li:nth-child(2) mark{left: 58px; font-size: 24px; line-height: 28px;}

/* 회사소개 페이지  - 텍스트 */

/* 회사소개 페이지  - 브랜드별 분석 */

/* 회사소개 페이지 - 비지니스 파트너스 */
.aboutUsPage .businessArea ul{max-width: 650px;}

/* 회사소개 페이지 - Location 오시는 길 */


/* 마케팅 페이지 */
/* 마케팅 페이지 공통 */
.marketingPage ul li > div div{width: 45.74%;}

/* 마케팅 페이지 - 네이버 */

/* 마케팅 페이지 - 인스타그램 */

/* 마케팅 페이지 - 체험단 */

/* 마케팅 페이지 - 체험단 */


/* 문의 페이지 공통 */
/* 문의 페이지 */
.inquiryPage fieldset ul{gap: 30px;}
.inquiryPage fieldset ul li:not(.full){width: calc((100% - 30px) / 2);}
.inquiryPage fieldset ul li > div:has(div){column-gap: 30px;}

/* 문의 완료 페이지 */
.inquiryPage dl dt{width: 150px;}